apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    service: {{ .Release.Name }}
    app: service
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    service: {{ .Release.Name }}
    app: service
