basePath: /api/v1
definitions:
  gaia.User:
    properties:
      display_name:
        type: string
      jwtexpiry:
        type: integer
      lastlogin:
        type: string
      password:
        type: string
      tokenstring:
        type: string
      trigger_token:
        type: string
      username:
        type: string
    type: object
host: gaia-pipeline.io
info:
  contact:
    name: API Support
    url: https://github.com/gaia-pipeline/gaia
  description: This is the API that the Gaia Admin UI uses.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://github.com/gaia-pipeline/gaia/blob/master/LICENSE
  title: Gaia API
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: Returns an authenticated user.
      parameters:
      - description: UserLogin request
        in: body
        name: UserLoginRequest
        required: true
        schema:
          $ref: '#/definitions/gaia.User'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/gaia.User'
            type: object
        "400":
          description: Bad Request
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: User Login
swagger: "2.0"
