basePath: /api/v1
definitions:
  gaia.User:
    properties:
      display_name:
        type: string
      jwtexpiry:
        type: integer
      lastlogin:
        type: string
      password:
        type: string
      tokenstring:
        type: string
      trigger_token:
        type: string
      username:
        type: string
    type: object
  user.changePasswordRequest:
    properties:
      newpassword:
        type: string
      newpasswordconf:
        type: string
      oldpassword:
        type: string
      username:
        type: string
    type: object
host: gaia-pipeline.io
info:
  contact:
    name: API Support
    url: https://github.com/gaia-pipeline/gaia
  description: This is the API that the Gaia Admin UI uses.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://github.com/gaia-pipeline/gaia/blob/master/LICENSE
  title: Gaia API
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: Returns an authenticated user.
      parameters:
      - description: UserLogin request
        in: body
        name: UserLoginRequest
        required: true
        schema:
          $ref: '#/definitions/gaia.User'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/gaia.User'
        "400":
          description: Bad Request
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: User Login
  /user/:username/reset-trigger-token:
    put:
      consumes:
      - text/plain
      description: Generates and saves a new remote trigger token for a given user.
      parameters:
      - description: The username to reset the token for
        in: query
        name: username
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Generate new remote trigger token.
  /user/password:
    post:
      consumes:
      - application/json
      description: Changes the password of the given user.
      parameters:
      - description: UserChangePassword request
        in: body
        name: UserChangePasswordRequest
        required: true
        schema:
          $ref: '#/definitions/user.changePasswordRequest'
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "412":
          description: Precondition Failed
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Change password for user.
  /users:
    get:
      consumes:
      - application/json
      description: Returns a list of registered users.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/gaia.User'
            type: array
        "500":
          description: Internal Server Error
          schema:
            type: string
      security:
      - ApiKeyAuth: []
      summary: Get all users
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
